<% if saved_tips.any? %>
  <% saved_tips.each do |tip| %>
    <%= render 'tips/swipeable_tip_card', tip: tip, show_saved_indicator: false %>
  <% end %>
<% else %>
  <div class="text-center py-10">
    <p class="text-gray-500 dark:text-gray-400">No tips match the selected filter.</p>
  </div>
<% end %>
